.title {

    margin-left: 30%;
    color: aliceblue;
}

img {
    margin-left: 40%;
    width: 200px;
    box-shadow: 40px;
    /* border: 1px solid black; */
}

input {
    margin-left: 30%;
    height: 30px;
    width: 300px;
    border-radius: 15px;
}

.mainDiv {
    background-image: url("https://media.istockphoto.com/id/1333211562/vector/cyber-network-protection-future-technology-background.jpg?b=1&s=612x612&w=0&k=20&c=vO4ikHNDSBCsjJT7bskcDGA6hnvfAg0V6tsrQmRap0w=");
    height: 100%;
    padding: 220px;
}
button{
    margin-left: 30.5%;
    width: 300px;
    height: 30px;
    background-color: cornflowerblue;
    border-radius: 15px;
    margin-bottom: "5%";

}